In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv('/content/Sales_add.csv')
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

**1.The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.**

In [ ]:
### Null hypothesis:There is an increase in sales after steeping into digital marketing

In [ ]:
## ttest
from scipy.stats import ttest_ind

In [ ]:
# Calculate increase in sales
data['Increase_in_sales'] = data['Sales_After_digital_add(in $)'] - data['Sales_before_digital_add(in $)']
# Print results
print("Increase in Sales:")
print(data[['Month', 'Increase_in_sales']])

Increase in Sales:
       Month  Increase_in_sales
0    Month-1             137469
1    Month-2              73775
2    Month-3              97965
3    Month-4              79641
4    Month-5              98877
5    Month-6             119785
6    Month-7              91481
7    Month-8              99497
8    Month-9              55002
9   Month-10              51779
10  Month-11              43836
11  Month-12              97340
12  Month-13              60118
13  Month-14             101617
14  Month-15              81873
15  Month-16              10110
16  Month-17              94046
17  Month-18              23521
18  Month-19              94905
19  Month-20              60086
20  Month-21             115963
21  Month-22             112757

In [ ]:
##Performing ttest
t_stat,p_value=ttest_ind(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])
##Printing values
print("t_statistics: ",t_stat)
print("p_value: ",p_value)

t_statistics:  -12.995084451110875
p_value:  2.614368006904645e-16

In [ ]:
if p_value<0.05:
  print("Accept Null hypothesis")
else:
  print("Reject Null hypothesis")

Accept Null hypothesis

Here Null hypothesis accepted.There is a significant increase in sales after stepping into digital marketing.

**2.The company needs to check whether there is any dependency between the features “Region” and “Manager”.**

In [ ]:
##There is a dependency between the features "Region"and "Manager"

In [23]:
##chi2 test
from scipy.stats import chi2_contingency

In [26]:
# Create a contingency table using cross tabulation
contingency_table = pd.crosstab(data['Region'], data['Manager'])
chi2_stat,p_value,dof,expected =chi2_contingency(contingency_table)
#print values
chi2_contingency(contingency_table)

Chi2ContingencyResult(statistic=3.050566893424036, pvalue=0.5493991051158094, dof=4, expected_freq=array([[4.09090909, 3.18181818, 2.72727273],
       [2.86363636, 2.22727273, 1.90909091],
       [2.04545455, 1.59090909, 1.36363636]]))

In [29]:
p_value

0.5493991051158094

In [31]:
if p_value<0.05:
  print("Accept Null hypothesis")
else:
  print("Reject Null hypothesis")

Reject Null hypothesis

Here Null hypothesis rejected.There is no dependency between the features 'Region' and 'Manager'.